@media (max-width: 4000px) {
	html {
		text-align: center;
		font-size: 22px;
		color: #010409;
		size: 1920px 1080px;
		margin: 0mm 0mm 0mm 0mm;
		margin-bottom: 37%;
		font-family: "Cooper Black", sans-serif;
		background-size: 110% 200%;
		background-image: linear-gradient(rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9)), linear-gradient(to right, rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9));
		background-position: top left, bottom left;
		overflow: hidden;
		padding: 10px;
	}

	.container {
		display: flex;
	}

	.button-list {
		position: fixed;
		margin-top: 3%;
		margin-left: 71%;
		overflow-y: auto;
		max-height: 200px;
		margin-right: 20px;
	}

	.video-button {
		display: block;
		margin: 10px;
		cursor: pointer;
		border: 3px solid;
		border-radius: 38px;
		border-color: #2b5983;
		background-color: #010409;
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	.video-button:hover {
		background-color: transparent;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);		
		transition: transform 0.5s, box-shadow 0.5s;
	}

	.video-container {
		margin-top: 3%;
		margin-left: 33%;
		width: 640px;
		height: 480px;
		background-image: url(../lozoodi105.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
	}

	#video-iframe {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
	}

	#fullScreenButton {
		top: 70%;
		margin-left: 14%;
		position: fixed;
		padding: 0.5%;
		font-size: 300%;
		background-color: #010409;
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
		z-index: 3;
	}

}


/* ############################################################################################################################# */
/* ############################################################################################################################# */
/* ############################################################################################################################# */
@media only screen and (max-width: 432px) and (orientation: portrait) {

	html {
		text-align: center;
		font-size: 22px;
		color: #010409;
		size: 432px 768px;
		margin: 0mm 0mm 0mm 0mm;
		margin-bottom: 37%;
		font-family: "Cooper Black", sans-serif;
		background-size: 110% 200%;
		background-image: linear-gradient(rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9)), linear-gradient(to right, rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9));
		background-position: top left, bottom left;
		overflow: hidden;
		padding: 10px;
	}

	.container {
		display: flex;
	}

	.button-list {
		position: fixed;
		margin-top: 80%;
		margin-left: 30%;
		overflow-y: auto;
		max-height: 200px;
		margin-right: 20px;
	}

	.video-button {
		display: block;
		margin: 10px;
		cursor: pointer;
		border: 3px solid;
		border-radius: 38px;
		border-color: #2b5983;
		background-color: #010409;
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	.video-button:hover {
		background-color: transparent;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);		
		transition: transform 0.5s, box-shadow 0.5s;
	}

	.video-container {
		margin-top: 0%;
		margin-left: 0%;
		width: 432px;
		height: 324px;
		background-image: url(../lozoodi105.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
	}

	#video-iframe {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
	}

	#fullScreenButton {
		top: 70%;
		margin-left: 14%;
		position: fixed;
		padding: 0.5%;
		font-size: 300%;
		background-color: #010409;
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
		z-index: 3;
	}

}