@media (max-width: 767px) {
  /* Stili specifici per gli smartphone */
	body {
		font-size: 12px;
		size: 431px 767px;
		margin: 1mm 1mm 1mm 1mm;
		margin-bottom: 128vh;
		font-family: "Georgia", "Georgia", monospace;
		background-color: #0d1117;
		background-image: linear-gradient(rgba(255,123,114, 0.1), rgba(121,192,255, 0.2), rgba(255,123,114, 0.1));
		padding: 10px;
	}

	#Counter {
		top: 10vh;
		margin-top: 0vh;
		left: 19vw;
		right: 48vw;
		margin-left: 0vw;
		margin-right: 48vw;
		height: auto;
		width: 230px;
		display: block;
		position: relative;
		scale: 85%;
		text-align: center;
		align-content: center;
		font-size: 19px;
		padding: 5px;
		border: 1px solid;
		border-radius: 15px;
		border-color: #00a46d;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#Counter:hover {
		border: 1px solid;
		border-color: #00a46d;
		background-color: #010409;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	#Logo {
		margin-top: 0%;
		margin-left: -72%;
		height: 100px;
		width: 100px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		position: absolute;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}

	#Logo:hover {
		border: 1px solid;
		border-color: #00a46d;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	.tooltip {
		background-color: #010409;
		color: #fff;
		border-radius: 10px;
		padding: 5px;
		position: absolute;
		font-size: 30%;
		text-align: center;
		transform: translateX(-50%);
		transition: opacity 0.2s, top 0.2s;
		visibility: hidden;
		cursor: pointer;
		opacity: 0;
		z-index: 1;
	}

	#Logo:hover + .tooltip {
		margin-top: 57%;
		margin-left: 59%;
		border: 1px solid;
		border-color: #00a46d;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		visibility: visible;
		transform: translate(-50%, -50%);
		animation: fadeIn 1.4s;
		opacity: 1;
		z-index: 1;
	}

	#confirmationGif {
		top: -5%;
		left: -15%;
		position: absolute;
		z-index: 2;
	}

	h1 {
		margin-top: 0%;
		height: 110px;
		width: auto;
		background-color: #010409;
		color: #00A46D;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		position: relative;
		justify-content: center;
		text-align: right;
		font-size: 50px;
		padding: 5px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	h1:hover {
		border: 1px solid;
		border-color: #00a46d;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	label {
		background-color: #010409;
		color: #79c0ff;
		position: relative;
		font-size: 16px;
		padding: 7px;
		border: 1px solid;
		border-radius: 15px;
		border-color: #ccc;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	label:hover {
		border: 1px solid;
		border-color: #ccc;
		box-shadow: 3px 3px 5px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	#PK {
		margin-top: 50%;
		position: relative;
	}

	#cfd {
		margin-top: -1%;
		z-index: 0;
	}

	#Test0 {
		margin-top: 0.5%;
		height: auto;
		width: 97%;
		background-color: #010409;
		text-align: center;
		font-size: 14px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#Test0 code {
		max-width: 98%;
		display: inline-block;
		padding: 11px;
		text-align: left;
		overflow: hidden;
	}

	#Test1 {
		margin-top: 0.5%;
		height: auto;
		width: 97%;
		background-color: #010409;
		text-align: center;
		font-size: 14px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#Test1 code {
		max-width: 98%;
		display: inline-block;
		padding: 11px;
		text-align: left;
		overflow: hidden;
	}

	#Test2 {
		margin-top: 0.5%;
		height: auto;
		width: 97%;
		background-color: #010409;
		text-align: center;
		font-size: 14px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#Test2 code {
		max-width: 98%;
		display: inline-block;
		padding: 11px;
		text-align: left;
		overflow: hidden;
	}

	#Test3 {
		margin-top: 0.5%;
		height: auto;
		width: 97%;
		background-color: #010409;
		text-align: center;
		font-size: 14px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#Test3 code {
		max-width: 98%;
		display: inline-block;
		padding: 11px;
		text-align: left;
		overflow: hidden;
	}

	textarea {
		text-align: center;
		border-color: #ccc;
		font-size: 12px;
		
	}

	#elaborazione {
		margin-top: 0%;
	}

	#codiceOriginale {
		margin-top: 20%;
		margin-left: -1.7%;
		height: auto;
		width: 92%;
		min-height: 200px;
		background-color: #010409;
		color: #c9d1d9;
		position: absolute;
		justify-content: center;
		text-align: center;
		font-size: 12px;
		padding: 5px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#codiceOriginale::placeholder {
		margin-top: 13%;
		justify-content: center;
		text-align: center;
		font-size: 24px;
	}

	#ssc {
		margin-top: 72%;
		margin-left: -1.7%;
		height: auto;
		width: 92%;
		background-color: #010409;
		color: #00A46D;
		display: flex;
		position: absolute;
		justify-content: center;
		text-align: center;
		font-size: 30px;
		padding: 5px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#ssc:hover {
		border: 1px solid;
		border-color: #00a46d;	
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	pre {
		width: 98.2%;
		justify-content: center;
		text-align: left;
		white-space: pre-wrap;
	}

	#codiceSemplificato {
		margin-top: 90%;
		margin-left: -1.7%;
		height: auto;
		width: 92%;
		max-width: 97.4%;
		min-height: 200px;
		background-color: #010409;
		display: inline-block;
		text-align: center;
		font-size: 18px;
		position: absolute;
		padding: 4px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#codiceSemplificato code {
		max-width: 80%;
		width: 99%;
		display: flex;
		text-align: left;
		overflow: hidden;
	}

	button {
		height: auto;
		width: 80px;
		background-color: #010409;
		color: #ff7b72;
		padding: 7px;
		border-radius: 20px;
		border-color: #ccc;
		box-shadow: 2px 2px 4px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	button:active {
		color: #79c0ff;
		border-radius: 10px;
		border-color: #ccc;
		box-shadow: 2px 2px 4px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		transform: translateX(2px);
	}

	button:disabled {
		background-color: #ccc;
		color: #999;
		padding: 7px;
		border-radius: 20px;
		border-color: #ccc;
		box-shadow: 4px 4px 4px rgba(1,4,9, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	button:hover {
		padding: 7px;
		border-radius: 20px;
		border-color: #ccc;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	button:hover:not(:enabled) {
		background-color: #ccc;
		color: #999;
		padding: 7px;
		border-radius: 20px;
		border-color: #ccc;
		box-shadow: 4px 4px 4px rgba(1,4,9, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	#semplificaCodice {
		margin-top: 15%;
		margin-left: -85%;
		height: auto;
		width: 101px;
		position: absolute;
	}

	#copiaButton {
		margin-top: 82%;
		position: absolute;
	}

	#copiaBTest0 {
		margin-left: 40%;
		margin-top: 0%;
		position: relative;
		z-index: 0;
	}

	#copiaBTest1 {
		margin-left: 40%;
		margin-top: 0%;
		position: relative;
		z-index: 0;
	}

	#copiaBTest2 {
		margin-left: 40%;
		margin-top: 0%;
		position: relative;
		z-index: 0;
	}

	#copiaBTest3 {
		margin-left: 40%;
		margin-top: 0%;
		position: relative;
		z-index: 0;
	}

	#cancellaButton {
		margin-top: 15%;
		margin-left: -7%;
		position: absolute;
	}

	.tip-icon {
		width: 35px;
		height: auto;
		line-height: 20px;
		background-color: #010409;
		display: inline-block;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		padding: 2.5px;
		border: 1px solid;
		border-radius: 50%;
		border-color: #ccc;
		box-shadow: 2px 2px 4px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		cursor: pointer;
		z-index: 0;
	}

	.tip-content {
		top: 55%;
		left: 50%;
		width: auto;
		height: auto;
		max-width: 400px;
		background-color: #010409;
		color: #79c0ff;
		display: none;
		position: absolute;
		justify-content: center;
		font-size: 14px;
		padding: 10px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #ccc;
		box-shadow: 3px 3px 5px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
		transform: translateX(-50%);
		white-space: pre-wrap;
		z-index: 10;
	}

	.tip-icon:hover + .tip-content {
		display: block;
		border: 1px solid;
		border-color: #ccc;
	}

	.tip-icon:hover {
		border: 1px solid;
		border-color: #ccc;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	.tip_green {
		margin-left: 1%;
		color: #00A46D;
		border: 1px solid;
		border-color: #ccc;
	}

	.tip_red {
		margin-left: 1%;
		color: #ff0000;
		border: 1px solid;
		border-color: #ccc;
	}

	.tip_yellow {
		margin-left: 1%;
		color: #ffd700;
		border: 1px solid;
		border-color: #ccc;
	}

	.tip_purple {
		margin-left: 1%;
		color: #6746a3;
		border: 1px solid;
		border-color: #ccc;
	}

	select, option.custom-option{
		color: #ff0000;
	}

	select, option.custom-select {
		margin-left: 0.1%;
		background-color: #010409;
		color: #79c0ff;
		position: relative;
		padding: 5px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #ccc;
		box-shadow: 2px 2px 4px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	select:hover {
		border: 1px solid;
		border-color: #ccc;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	.spoiler {
		margin-top: 15px;
		width: 80%;
		background-color: #010409;
		color: #79c0ff;
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		justify-content: center;
		text-align: left;
		font-size: 11px;
		font-weight: bold;
		padding: 5px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		cursor: pointer;
		gap: 2px;
	}

	.spoiler-content {
		right: 28vh;
		margin-top: 55vh;
		margin-left: 20vw;
		margin-right: 0vw;
		width: 658px;
		max-width: 658px;
		display: none;
		position: absolute;
		padding: 3px;
		scale: 60%;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		transform: translate(-50%, -50%);
		z-index: 10;
	}

	.spoiler:hover {
		border: 1px solid;
		border-color: #00a46d;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	.spoilers-container {
		margin-left: 0%;
		flex-direction: column;
		align-items: baseline;
		justify-items: center;
		justify-content: space-between;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1px;
	}

	@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
	}

	@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}
	}

	.fadeIn {
		animation-name: fadeIn;
		animation-duration: 1.5s;
	}
	
	.fadeOut {
		animation-name: fadeOut;
		animation-duration: 1.5s;
	}

	#copyright {
		top: 221vh;
		left: -3vw;
		margin-top: 0vh;
		margin-bottom: 0vh;
		margin-left: 0vw;
		margin-right: 0vw;
		width: 420px;
		height: auto;
		color: #79c0ff;
		font-size: 13px;
		text-align: center;
		position: absolute;
		scale: 87%;
		padding: 10px;
		border: 1px solid;
		border-radius: 15px;
		border-color: #00a46d;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 10;
	}

	#copyright:hover {
		border: 1px solid;
		border-color: #00a46d;
		background-color: #010409;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	.fire-text {
		font-weight: bold;
		background: linear-gradient(to right, #ff3300, #ff6600, #ff9933, #ffcc66, #ff9933, #ff6600, #ff3300);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		background-size: 200% auto;
		display: inline;
		animation: flicker 1.3s linear infinite;
}

	@keyframes flicker {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 200% 0;
		}
	}
}

/*
############################################################################################################################################################
############################################################################################################################################################
############################################################################################################################################################
*/

@media (min-width: 1080px) {
	/* Aggiunge stili per PC, tablet, ecc. */
	body {
		position: relative;
		top: 0%;
		font-size: 12px;
		size: 1920px 1080px;
		margin: 1mm 1mm 1mm 1mm;
		margin-bottom: 12%;
		font-family: "Georgia", "Georgia", monospace;
		background-color: #0d1117;
		background-image: linear-gradient(rgba(255,123,114, 0.1), rgba(121,192,255, 0.2), rgba(255,123,114, 0.1));
		padding: 10px;
	}

	#Counter {
		top: 16vh;
		margin-top: 0vh;
		left: 41.9vw;
		right: 48vw;
		margin-left: 0vw;
		margin-right: 48vw;
		height: auto;
		width: 230px;
		display: block;
		position: relative;
		text-align: center;
		align-content: center;
		font-size: 19px;
		padding: 5px;
		border: 1px solid;
		border-radius: 15px;
		border-color: #00a46d;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#Counter:hover {
		border: 1px solid;
		border-color: #00a46d;
		background-color: #010409;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	#Logo {
		margin-top: 0%;
		margin-left: -40%;
		height: 100px;
		width: 100px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		position: absolute;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}

	#Logo:hover {
		border: 1px solid;
		border-color: #00a46d;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	.tooltip {
		background-color: #010409;
		color: #fff;
		border-radius: 10px;
		padding: 5px;
		position: absolute;
		font-size: 30%;
		text-align: center;
		transform: translateX(-50%);
		transition: opacity 0.2s, top 0.2s;
		visibility: hidden;
		cursor: pointer;
		opacity: 0;
		z-index: 1;
	}

	#Logo:hover + .tooltip {
		margin-top: 0%;
		margin-left: -50%;
		border: 1px solid;
		border-color: #00a46d;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		visibility: visible;
		transform: translate(-50%, -50%);
		animation: fadeIn 1.4s;
		opacity: 1;
		z-index: 1;
	}

	#confirmationGif {
		top: -2%;
		margin-left: 22%;
		position: absolute;
		z-index: 2;
	}

	h1 {
		margin-top: 0vh;
		margin-bottom: 0vh;
		margin-left: 0vw;
		margin-right: 0vw;
		top: 0vh;
		bottom: 0vh;
		left: 0vw;
		right: 0vw;
		height: 110px;
		width: 97vw;
		background-color: #010409;
		color: #00A46D;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		position: relative;
		justify-content: center;
		text-align: center;
		font-size: 50px;
		padding: 5px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: -1px -2px 10px 2px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	h1:hover {
		color: #79c0ff;
		border: 1px solid;
		border-color: #00a46d;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	label {
		background-color: #010409;
		color: #79c0ff;
		position: relative;
		font-size: 16px;
		padding: 7px;
		border: 1px solid;
		border-radius: 15px;
		border-color: #ccc;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	label:hover {
		border: 1px solid;
		border-color: #ccc;
		box-shadow: 3px 3px 5px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	#PK {
		position: relative;
		top: 22vh;
		margin-top: 13vh;
	}

	#cfd {
		position: absolute;
		top: 17vh;
		z-index: 0;
	}

	#Test0 {
		margin-top: 0.5%;
		height: auto;
		width: 97%;
		background-color: #010409;
		text-align: center;
		font-size: 14px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#Test0 code {
		max-width: 98%;
		display: table-cell;
		padding: 11px;
		text-align: left;
		overflow: hidden;
	}

	#Test1 {
		margin-top: 0.5%;
		height: auto;
		width: 97%;
		background-color: #010409;
		text-align: center;
		font-size: 14px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#Test1 code {
		max-width: 98%;
		display: table-cell;
		padding: 11px;
		text-align: left;
		overflow: hidden;
	}

	#Test2 {
		margin-top: 0.5%;
		height: auto;
		width: 97%;
		background-color: #010409;
		text-align: center;
		font-size: 14px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#Test2 code {
		max-width: 98%;
		display: table-cell;
		padding: 11px;
		text-align: left;
		overflow: hidden;
	}

	#Test3 {
		margin-top: 0.5%;
		height: auto;
		width: 97%;
		background-color: #010409;
		text-align: center;
		font-size: 14px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#Test3 code {
		max-width: 98%;
		display: table-cell;
		padding: 11px;
		text-align: left;
		overflow: hidden;
	}

	textarea {
		text-align: center;
		border-color: #ccc;
		font-size: 12px;
		
	}

	#elaborazione {
		position: relative;
		top: 17vh;
	}

	#codiceOriginale {
		top: 0%;
		height: auto;
		width: 97vw;
		min-height: 200px;
		background-color: #010409;
		/* color: #c9d1d9; */
		display: flex;
		position: relative;
		justify-content: center;
		text-align: center;
		font-size: 12px;
		padding: 5px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#codiceOriginale::placeholder {
		margin-top: 13%;
		justify-content: center;
		text-align: center;
		font-size: 24px;
	}

	#ssc {
		top: 0vh;
		height: auto;
		width: 97vw;
		background-color: #010409;
		color: #00A46D;
		display: flex;
		position: relative;
		justify-content: center;
		text-align: center;
		font-size: 30px;
		padding: 5px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: -1px -2px 10px 2px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#ssc:hover {
		color: #79c0ff;
		border: 1px solid;
		border-color: #00a46d;	
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	pre {
		width: 98.2%;
		justify-content: center;
		text-align: left;
		white-space: pre-wrap;
	}

	#codiceSemplificato {
		top: 0vh;
		height: auto;
		width: 97vw;
		max-width: 97vw;
		min-height: 250px;
		background-color: #010409;
		display: inline-block;
		text-align: center;
		font-size: 18px;
		position: relative;
		padding: 4px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
	}

	#codiceSemplificato code {
		max-width: 80%;
		width: 99%;
		display: flex;
		text-align: left;
		overflow: hidden;
	}

	button {
		height: auto;
		width: 80px;
		background-color: #010409;
		color: #ff7b72;
		padding: 7px;
		border-radius: 20px;
		border-color: #ccc;
		box-shadow: 2px 2px 4px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	button:active {
		color: #79c0ff;
		border-radius: 10px;
		border-color: #ccc;
		box-shadow: 2px 2px 4px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		transform: translateX(2px);
	}

	button:disabled {
		background-color: #ccc;
		color: #999;
		padding: 7px;
		border-radius: 20px;
		border-color: #ccc;
		box-shadow: 4px 4px 4px rgba(1,4,9, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	button:hover {
		padding: 7px;
		border-radius: 20px;
		border-color: #ccc;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	button:hover:not(:enabled) {
		background-color: #ccc;
		color: #999;
		padding: 7px;
		border-radius: 20px;
		border-color: #ccc;
		box-shadow: 4px 4px 4px rgba(1,4,9, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	#semplificaCodice {
		height: auto;
		width: 108px;
		margin-left: 1%;
		flex-wrap: nowrap;
		position: relative;
	}

	button:hover:not(:disable) {
		transition: transform 1s, box-shadow 1s;
		transform: translate(-50%, -50%);
		animation: fadeIn 1.4s;
	}

	#copiaButton {
		top: 0vh;
		position: relative;
	}

	#copiaBTest0 {
		margin-left: 40%;
		margin-top: 0%;
		position: relative;
		z-index: 0;
	}

	#copiaBTest1 {
		margin-left: 40%;
		margin-top: 0%;
		position: relative;
		z-index: 0;
	}

	#copiaBTest2 {
		margin-left: 40%;
		margin-top: 0%;
		position: relative;
		z-index: 0;
	}

	#copiaBTest3 {
		margin-left: 40%;
		margin-top: 0%;
		position: relative;
		z-index: 0;
	}

	#cancellaButton {
		left: 89vw;
		right: 7vw;
		margin-left: 0vw;
		margin-right: 7vw;
		position: absolute;
	}

	.tip-icon {
		width: 35px;
		height: auto;
		line-height: 20px;
		background-color: #010409;
		display: inline-block;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		padding: 2.5px;
		border: 1px solid;
		border-radius: 50%;
		border-color: #ccc;
		box-shadow: 2px 2px 4px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		cursor: pointer;
		z-index: 0;
	}

	.tip-content {
		top: 569%;
		margin-top: -20.1%;
		left: 74vw;
		width: 250px;
		height: auto;
		background-color: #010409;
		color: #00a46d;
		display: none;
		position: absolute;
		font-size: 11px;
		line-height: 14px;
		padding: 3px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #ccc;
		box-shadow: 3px 3px 5px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
		transform: translate(-50%, -50%);
		white-space: pre-wrap;
		z-index: 10;
	}

	.tip-content.active {
		visibility: visible;
		opacity: 1;
		transition: transform 1s, box-shadow 1s;
		transform: translate(-50%, -50%);
	}

	.tip-icon:hover + .tip-content {
		display: block;
		border: 1px solid;
		border-color: #ccc;
	}

	.tip-icon:hover {
		border: 1px solid;
		border-color: #ccc;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	.tip_green {
		margin-left: 1%;
		color: #00A46D;
		border: 1px solid;
		border-color: #ccc;
	}

	.tip_red {
		margin-left: 1%;
		color: #ff0000;
		border: 1px solid;
		border-color: #ccc;
	}

	.tip_yellow {
		margin-left: 1%;
		color: #ffd700;
		border: 1px solid;
		border-color: #ccc;
	}

	.tip_purple {
		margin-left: 1%;
		color: #6746a3;
		border: 1px solid;
		border-color: #ccc;
	}

	select, option.custom-option{
		color: #ff0000;
	}

	select, option.custom-select {
		margin-left: 0.1%;
		min-width: 114px;
		max-height: 50px;
		background-color: #010409;
		color: #79c0ff;
		position: relative;
		padding: 5px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #ccc;
		box-shadow: 2px 2px 4px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		overflow-y: auto;
	}

	select:hover {
		border: 1px solid;
		border-color: #ccc;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	select.custom-select:focus {
		max-height: none;
		color: #ff0000;
	}

	.spoiler {
		height: 50px;
		margin-top: 15px;
		width: 200px;
		max-width: 200px;
		background-color: #010409;
		color: #79c0ff;
		display: block;
		align-content: center;
		text-align: justify;
		font-size: 16px;
		font-weight: bold;
		padding: 3px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		cursor: pointer;
		z-index: 0;
	}

	.spoiler-content {
		right: 28vh;
		margin-top: 26vh;
		margin-left: 46.7vw;
		margin-right: 0vw;
		width: 658px;
		max-width: 658px;
		display: none;
		position: absolute;
		padding: 3px;
		scale: 90%;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		transform: translate(-50%, -50%);
		z-index: 10;
	}

	.spoiler:hover {
		border: 1px solid;
		border-color: #00a46d;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	.spoilers-container {
		position: relative;
		top: 1vh;
		margin-left: 0vw;
		margin-right: 2.2vw;
		left: 0vw;
		align-items: baseline;
		justify-items: center;
		justify-content: space-between;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1px;
	}

	@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
	}

	@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}
	}

	.fadeIn {
		animation-name: fadeIn;
		animation-duration: 1.5s;
	}
	
	.fadeOut {
		animation-name: fadeOut;
		animation-duration: 1.5s;
	}

	#copyright {
		top: 20vh;
		left: 36.2vw;
		margin-top: 0vh;
		margin-bottom: 0vh;
		margin-left: 0vw;
		margin-right: 0vw;
		width: 450px;
		height: auto;
		color: #79c0ff;
		font-size: 13px;
		text-align: center;
		position: relative;
		padding: 10px;
		border: 1px solid;
		border-radius: 15px;
		border-color: #00a46d;
		box-shadow: 3px 3px 5px rgba(107,169,225, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 10;
	}

	#copyright:hover {
		border: 1px solid;
		border-color: #00a46d;
		background-color: #010409;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	.fire-text {
		font-weight: bold;
		background: linear-gradient(to right, #ff3300, #ff6600, #ff9933, #ffcc66, #ff9933, #ff6600, #ff3300);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		background-size: 200% auto;
		display: inline;
		animation: flicker 1.3s linear infinite;
	}

	@keyframes flicker {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 200% 0;
		}
	}
}