@media (min-width: 1080px) {
	/* Stili per PC, tablet, ecc. */
	/* Imposta le dimensioni del player video */
	body {
		font-size: 22px;
		color: #010409;
		size: 1920px 1080px;
		margin: 0mm 0mm 0mm 0mm;
		margin-bottom: 37%;
		font-family: "Cooper Black", sans-serif;
		background-size: 143% 143%;
		background-image: 
		linear-gradient(rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9)),
		linear-gradient(to right, rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9));
		background-position: top left, bottom left;
		overflow: hidden;
		padding: 10px;
	}
	
	#Logo105 {
		background-color: #010409;
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
		top: 3.8%;
		left: 78.93%;
		scale: 89%;
		position: absolute;
		padding: 12px;
		border: 3px solid;
		border-radius: 38px;
		border-color: #2b5983;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}
	
	#Logo105:hover {
		background-color: transparent;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);		
		transition: transform 0.5s, box-shadow 0.5s;
	}
	
	#image-container {
		top: 0.1%;
		margin-left: -0.7%;
		display: inline-flex;
		position: absolute;
		width: 99.6%;
		height: 99.2%;
		overflow: hidden;
		border: 3px solid;
		border-radius: 38px;
		border-color: #2b5983;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
		flex-direction: column-reverse;
		align-items: center;
		justify-items: center;
		justify-content: space-between;
		gap: 0px;
		flex-wrap: wrap;
		align-content: space-between;
	}
	
	#ZooGifs {
		position: absolute;
		width: 0%;
		height: auto;
	}
	
	#Global {
		top: 4%;
		left: 1%;
		scale: 90%;
		position: fixed;
	}

	#recording-timer {
		margin-top: -4.2%;
		margin-left: 1%;
		position: absolute;
		background-color: transparent;
		background-image: linear-gradient(rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9));
		padding: 8px;
		color: black;
		font-weight: normal;
		border-radius: 20px;
		border-color: #2b5983;
		box-shadow: -1px -1px 3px 1px rgba(255,255,255, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	#recording-timer:hover {
		background-color: #010409;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	.active-timer {
		color: rgb(255 249 0);
		font-weight: bold;
		padding: 5px;
		border-radius: 10px;
		background-image: linear-gradient(rgb(0 0 0 / 90%), rgb(203 0 28 / 56%), rgb(0 0 0 / 90%));
		box-shadow: -1px -2px 10px 2px rgb(255 249 0);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	#video-wrapper {
		width: 100%;
		position: relative;
		margin: 0 auto;
	}
	
	#mediaset-player {
		width: 1080px;
		height: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 2px;
		border: 3px solid transparent;
		border-radius: 40px;
		border-color: #2b5983;
		box-shadow: -1px -1px 3px 1px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}
	
	#bitrateClock {
		top: 101%;
		left: 82%;
		width: 115px;
		background-image: linear-gradient(rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9));
		font-size: 22px;
		font-family: "Cooper Black", sans-serif;
		display: inline-block;
		position: absolute;
		padding: 10px;
		border: 3px solid;
		border-radius: 10px;
		border-color: #2b5983;
		box-shadow: -1px -1px 3px 1px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}

	#bitrateClock:hover {
		background-color: transparent;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	#ipBoard {
		top: 4%;
		left: 37%;
		width: 500px;
		height: 500px;
		background-image: linear-gradient(rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9));
		font-size: 22px;
		font-family: "Cooper Black", sans-serif;
		display: inline-block;
		position: absolute;
		padding: 10px;
		border: 3px solid;
		border-radius: 10px;
		border-color: #2b5983;
		box-shadow: -1px -1px 3px 1px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}

	button {
		margin-top: 1%;
		margin-right: -20px;
		margin-left: 3%;
		background-color: transparent;
		background-image: linear-gradient(rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9));
		font-size: 22px;
		font-family: "Cooper Black", sans-serif;
		display: inline-block;
		position: relative;
		padding: 10px;
		border: 3px solid;
		border-radius: 10px;
		border-color: #2b5983;
		box-shadow: -1px -1px 3px 1px rgba(255,255,255, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
		z-index: 1;
	}
	
	button:hover {
		background-color: transparent;
		padding: 10px;
		border: 3px solid;
		border-radius: 10px;
		border-color: #e6007e;
		box-shadow: -2px -2px 3px 1px rgba(252,177,17, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
		z-index: 1;
	}
	
	button:active {
		transition: transform 0.5s, box-shadow 1s;
		transform: translateX(3px);
	}
	
	#controls {
		margin-top: -0.3%;
		left: -8%;
		position: relative;
	}

	#playButton {
		margin-top: -5%;
		margin-left: 41%;
		position: absolute;
	}

	#stopButton {
		margin-top: -5%;
		margin-left: 53%;
		position: absolute;
	}

	#recButton {
		margin-top: -5%;
		margin-left: 65.3%;
		display: flex;
		position: absolute;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		align-content: space-between;
	}

	#fullScreenButton {
		margin-top: -14%;
		margin-left: 109%;
		position: fixed;
		padding: 0%;
		font-size: 226%;
		background-color: #010409;
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));	
	}

	/* Nasconde i controlli quando il video non è in hover */
	#video-wrapper:not(:hover) #mediaset-player::-webkit-media-controls {
		opacity: 0;
		transition: opacity 0.3s;
	}
	
	/* Mostra i controlli quando il video è in hover */
	#video-wrapper:hover #mediaset-player::-webkit-media-controls {
		opacity: 1;
	}

	.tip-icon {
		width: 35px;
		height: auto;
		line-height: 20px;
		background-color: #010409;
		display: inline-block;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		padding: 2.5px;
		border: 1px solid;
		border-radius: 50%;
		border-color: #ccc;
		box-shadow: 2px 2px 4px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		cursor: pointer;
		z-index: 0;
	}

	.tip-content_1 {
		top: 46.7%;
		left: 85%;
		right: -93%;
		width: 27%;
		height: auto;
		background-color: #010409;
		background-image: linear-gradient(rgba(252, 177, 17, 0.8), rgba(238, 63, 87, 0.6), rgba(230, 0, 126, 0.4));
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
		color: rgb(255 255 255);
		display: none;
		scale: 79%;
		position: fixed;
		font-size: 14px;
		line-height: 135%;
		text-align: left;
		padding: 10px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #ccc;
		transform: translateX(-50%);
		white-space: pre-wrap;
		justify-items: start;
		z-index: 10;
	}

	.tip-content_2 {
		top: 52%;
		left: 79%;
		width: 39%;
		height: 28%;
		background-color: #010409;
		background-image: linear-gradient(rgba(252, 177, 17, 0.8), rgba(238, 63, 87, 0.6), rgba(230, 0, 126, 0.4));
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
		color: rgb(255 255 255);
		display: none;
		scale: 70%;
		position: absolute;
		font-size: 14px;
		line-height: 135%;
		text-align: left;
		padding: 10px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #ccc;
		transform: translateX(-50%);
		white-space: pre-wrap;
		justify-items: start;
		z-index: 10;
	}

	.tip-icon:hover + .tip-content {
		display: block;
		border: 1px solid;
		border-color: #ccc;
	}

	.tip-icon:hover {
		border: 1px solid;
		border-color: #ccc;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	#Tip_1 {
		top: 29%;
		left: 84%;
		display: flex;
		scale: 200%;
		color: #00A46D;
		position: fixed;
		border: 1px solid;
		border-color: #ccc;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		justify-content: center;
		z-index: 3;
	}

	#Tip_2 {
		top: 95.3%;
		left: 96.7%;
		display: flex;
		scale: 200%;
		color: #00A46D;
		position: absolute;
		border: 1px solid;
		border-color: #ccc;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		justify-content: center;
		z-index: 3;
	}

	#copyright {
		bottom: 0%;
		left: 38%;
		width: 24%;
		height: auto;
		background-color: rgba(1,4,9, 0.5);
		color: #fcb111;
		font-size: 13px;
		text-align: center;
		position: fixed;
		padding: 6px;
		border: 1px solid;
		border-radius: 15px;
		border-color: #2b5983;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);
		z-index: 3;
	}

	#copyright:hover {
		border: 1px solid;
		border-color: #00a46d;
		background-color: #010409;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	.fire-text {
		font-weight: bold;
		background: linear-gradient(to right, #ff3300, #ff6600, #ff9933, #ffcc66, #ff9933, #ff6600, #ff3300);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		background-size: 200% auto;
		display: inline;
		animation: flicker 1.3s linear infinite;
	}

	@keyframes flicker {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 200% 0;
		}
	}

	.spoiler {
		top: 36%;
		left: 77%;
		width: 17%;
		background-color: #010409;
		background-image: linear-gradient(rgba(252, 177, 17, 0.8), rgba(238, 63, 87, 0.6), rgba(230, 0, 126, 0.4));
		color: rgb(255 255 255);
		position: fixed;
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		justify-content: center;
		text-align: left;
		scale: 150%;
		font-size: 11px;
		font-weight: bold;
		padding: 5px;
		border: 2px solid;
		border-radius: 10px;
		border-color: #2b5983;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		cursor: pointer;
		gap: 2px;
		z-index: 3;
	}

	.spoiler-content {
		left: 49%;
		top: 153%;
		width: 72%;
		height: 125%;
		display: none;
		position: absolute;
		transition: transform 1s, box-shadow 1s;
		transform: translate(-50%, -50%);
		animation: fadeIn 0.9s;
		z-index: 3;
	}

	.spoiler:hover {
		border: 1px solid;
		border-color: #2b5983;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	.spoilers-container {
		margin-left: 0%;
		flex-direction: column;
		align-items: baseline;
		justify-items: center;
		justify-content: space-between;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1px;
	}

	.spoilers {
		display: flex;
	}

	#Download {
		top: 0%;
		margin-left: -0.6%;
		height: 80%;
		width: 95%;
		padding: 3px;
		scale: 100%;
		position: absolute;
		background-color: #010409;
		background-image: linear-gradient(rgba(252, 177, 17, 0.8), rgba(238, 63, 87, 0.6), rgba(230, 0, 126, 0.4));
		text-align: center;
		font-size: 14px;
		line-height: 186%;
		border: 2px solid;
		border-radius: 20px;
		border-color: #2b5983;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 3;
	}

	@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
	}

	@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}
	}

	.fadeIn {
		animation-name: fadeIn;
		animation-duration: 1.5s;
	}
	
	.fadeOut {
		animation-name: fadeOut;
		animation-duration: 1.5s;
	}

	#geoInfo_1 {
		top: 64%;
		left: 74.3%;
		padding: 0px;
		width: auto;
		height: auto;
		scale: 120%;
		position: absolute;
		opacity: 0;
		transition: opacity 1s, transform 1s, box-shadow 1s;
		z-index: 1;
	}
	
	#geoInfo_1:hover {
		opacity: 1;
		transition: opacity 1s, transform 1s, box-shadow 1s;
		z-index: 1;
	}
	
	#geoInfo_2 {
		margin-top: -5%;
		margin-left: -15.1%;
		width: auto;
		height: auto;
		scale: 143%;
		position: absolute;
		transition: transform 1s, box-shadow 1s;
		z-index: 2;
	}
	
	#geoInfo_3 {
		margin-top: -0.9%;
		margin-left: 12.6%;
		width: auto;
		height: auto;
		scale: 160%;
		position: absolute;
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}
	
	#geoInfo_4 {
		margin-top: -10%;
		margin-left: 71%;
		width: auto;
		height: auto;
		scale: 111%;
		position: absolute;
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}
	
	#stat {
		top: 97%;
		left: 79%;
		width: auto;
		height: auto;
		scale: 100%;
		position: fixed;
		border-radius: 13px;
		z-index: 1;
	}
	
	#Zoo_Radio_IMG {
		margin-top: -33%;
		left: -26.2%;
		width: auto;
		height: auto;
		scale: 42%;
		position: absolute;
		border-radius: 13px;
		z-index: 1;
	}
	
	#Zoo_Radio {
		margin-top: 1.53%;
		left: 73%;
		width: 24.6%;
		height: auto;
		scale: 100%;
		background-color: transparent;
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
		position: relative;
		border-radius: 13px;
		padding: 12px;
		border: 3px solid;
		border-radius: 38px;
		border-color: #2b5983;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}
	
	#Zoo_Radio:hover {
		background-color: #010409;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}
	
	#Zoo_Radio_Audio {
		margin-top: 25%;
		margin-left: 7%;
		width: 85%;
		scale: 117%;
		background-color: transparent;
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
		position: relative;
		border-radius: 13px;
		padding: 4px;
		border-radius: 38px;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 2;
	}

	/* Modifica il colore di sfondo del player audio */
	audio {
		background-color: #010409; /* Cambia il colore del background */
	}
	
	/* Modifica il colore dei controlli del player audio */
	audio::-webkit-media-controls-panel {
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9)); /* Cambia il colore di sfondo dei controlli */
		color: #FFF; /* Cambia il colore del testo dei controlli */
	}
	
	/* Modifica il colore del pulsante Play/Pausa */
	audio::-webkit-media-controls-play-button {
		background-color: #e6007e;
		border-radius: 38px;
	}
	
	/* Modifica il colore del baricentro di avanzamento */
	audio::-webkit-media-controls-current-time-display {
		color: #010409; /* Cambia il colore del testo del baricentro di avanzamento */
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
	}
	
	/* Modifica il colore della barra di avanzamento */
	audio::-webkit-media-controls-timeline {
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9)); /* Cambia il colore della barra di avanzamento */
		border-radius: 38px;
		padding: 5px;
	}
	
	/* Modifica il colore del pulsante del volume */
	audio::-webkit-media-controls-volume-slider {
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9)); /* Cambia il colore del pulsante del volume */
	}

#Fascia {
	top: 4%;
    left: 21%;
    scale: 86%;
    font-size: 20px;
    background-color: transparent;
    background-image: linear-gradient(rgba(230, 0, 126, 0.9), rgba(1,33,77, 0.9), rgba(252, 177, 17, 0.9));
    position: absolute;
    border: 0px solid;
    border-radius: 46px;
    padding: 16px;
    box-shadow: -1px -2px 10px 2px rgb(255 255 255);
    transition: transform 1s, box-shadow 1s;
    transform: rotate(5deg);
    z-index: 2;
	}
}


/* ############################################################################################################################# */
/* ############################################################################################################################# */
/* ############################################################################################################################# */

@media (max-width: 767px) {
	/* Stili specifici per gli smartphone */
	/* Imposta le dimensioni del player video */
	body {
		font-size: 12px;
		size: 431px 767px;
		margin: 1mm 1mm 1mm 1mm;
		margin-bottom: 686%;
		font-family: "Cooper Black", sans-serif;
		background-size: 365%;
		background-image: linear-gradient(rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9)), linear-gradient(to right, rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9));
		background-position: top left, bottom left;
		overflow: hidden;
		padding: 10px;
	}
	
	#Logo105 {
		background-color: #ffffff;
		background-image: linear-gradient(rgba(230, 0, 126, 0.9), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
		top: 3%;
		left: 39%;
		scale: 159%;
		position: fixed;
		padding: 12px;
		border: 3px solid;
		border-radius: 38px;
		border-color: #2b5983;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}
	
	#Logo105:hover {
		background-color: #010409;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}
	
	#image-container {
		top: 2%;
		margin-left: -1%;
		bottom: -262%;
		display: inline-flex;
		position: absolute;
		width: 99%;
		height: auto;
		overflow: hidden;
		padding: 130%;
		border: 3px solid;
		border-radius: 38px;
		border-color: #2b5983;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 0;
		flex-direction: column;
		align-items: center;
		justify-items: center;
		justify-content: space-between;
		gap: 90px;
		align-content: space-around;
		flex-wrap: wrap;
	}
	
	#ZooGifs {
		position: absolute;
		width: 0%; /* Larghezza dell'immagine */
		height: auto; /* Altezza dell'immagine */
	}
	
	#Global {
		top: 0%;
		left: 1%;
		width: 26%;
		height: auto;
		scale: 100%;
		position: fixed;
	}

	#recording-timer {
		top: 91%;
		left: 275%;
		width: 46%;
		scale: 300%;
		position: absolute;
		background-color: transparent;
		background-image: linear-gradient(rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9));
		padding: 8px;
		color: black;
		font-weight: normal;
		border-radius: 20px;
		border-color: #2b5983;
		box-shadow: -1px -1px 3px 1px rgba(255,255,255, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
		z-index: 3;
	}

	#recording-timer:hover {
		background-color: #010409;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	.active-timer {
		color: rgb(255 249 0);
		font-weight: bold;
		padding: 5px;
		border-radius: 10px;
		background-image: linear-gradient(rgb(0 0 0 / 90%), rgb(203 0 28 / 56%), rgb(0 0 0 / 90%));
		box-shadow: -1px -2px 10px 2px rgb(255 249 0);
		transition: transform 0.5s, box-shadow 0.5s;
	}
	
	#video-wrapper {
		width: 100%;
		position: relative;
		margin: 0 auto;
	}
	
	#mediaset-player {
		margin-top: 24%;
		width: 375%;
		height: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 2px;
		border: 3px solid transparent;
		border-radius: 40px;
		border-color: #2b5983;
		box-shadow: -1px -1px 3px 1px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}
	
	#bitrateClock {
		top: 108.9%;
		left: 170%;
		scale: 240%;
		width: 36%;
		background-image: linear-gradient(rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9));
		font-size: 27px;
		font-family: "Cooper Black", sans-serif;
		position: fixed;
		padding: 10px;
		border: 3px solid;
		border-radius: 10px;
		border-color: #2b5983;
		box-shadow: -1px -1px 3px 1px rgba(255,255,255, 0.9);
		z-index: 1;
	}

	#bitrateClock:hover {
		background-color: transparent;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	button {
		scale: 300%;
		margin-top: 4%;
		margin-right: -24%;
		margin-left: 64%;
		left: -44%;
		width: 26%;
		background-color: transparent;
		background-image: linear-gradient(rgba(252, 177, 17, 0.9), rgba(238, 63, 87, 0.5), rgba(230, 0, 126, 0.9));
		font-size: 15px;
		font-family: "Cooper Black", sans-serif;
		display: inline-block;
		position: relative;
		padding: 10px;
		border: 3px solid;
		border-radius: 10px;
		border-color: #2b5983;
		box-shadow: -1px -1px 3px 1px rgba(255,255,255, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
		z-index: 1;
	}
	
	button:hover {
		background-color: transparent;
		padding: 10px;
		border: 3px solid;
		border-radius: 10px;
		border-color: #e6007e;
		box-shadow: -2px -2px 3px 1px rgba(252,177,17, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
		z-index: 1;
	}
	
	button:active {
		transition: transform 0.5s, box-shadow 1s;
		transform: translateX(3px);
	}
	
	#controls {
		margin-top: -0.3%;
		left: -4%;
		position: relative;
	}
	
	#playButton {
		top: 130%;
		left: 20%;
		position: fixed;
	}

	#stopButton {
		top: 130%;
		left: 210%;
		position: fixed;
	}

	#recButton {
		margin-top: 20%;
		margin-left: 224%;
		display: flex;
		position: absolute;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		align-content: space-between;
		visibility: hidden;
	}

	#fullScreenButton {
		top: 135%;
		left: 120%;
		width: 15%;
		height: 6.5%;
		position: fixed;
		padding: 0%;
		font-size: 226%;
		background-color: #010409;
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));	
		transition: transform 0.5s, box-shadow 0.5s;
	}

	#backward-2-min {
		top: 105%;
		left: -32%;
		position: fixed;
	}

	#forward-2-min {
		top: 105%;
		left: 257%;
		position: fixed;
	}

	/* Nascondi i controlli quando il video non è in hover */
	#video-wrapper:not(:hover) #mediaset-player::-webkit-media-controls {
		opacity: 0;
		transition: opacity 0.3s;
	}
	
	/* Mostra i controlli quando il video è in hover */
	#video-wrapper:hover #mediaset-player::-webkit-media-controls {
		opacity: 1;
	}

	#copyright {
		top: 94.4%;
		left: 37%;
		height: auto;
		width: 25%;
		scale: 225%;
		background-color: rgba(1,4,9, 0.5);
		color: #fcb111;
		font-size: 13px;
		text-align: center;
		position: fixed;
		padding: 10px;
		border: 1px solid;
		border-radius: 15px;
		border-color: #2b5983;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 10;
	}

	#copyright:hover {
		border: 1px solid;
		border-color: #00a46d;
		background-color: #010409;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}

	.fire-text {
		font-weight: bold;
		background: linear-gradient(to right, #ff3300, #ff6600, #ff9933, #ffcc66, #ff9933, #ff6600, #ff3300);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		background-size: 200% auto;
		display: inline;
		animation: flicker 1.3s linear infinite;
}

	@keyframes flicker {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 200% 0;
		}
	}

	.tip-icon {
		width: 35px;
		height: auto;
		line-height: 20px;
		background-color: #010409;
		display: inline-block;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		padding: 2.5px;
		border: 1px solid;
		border-radius: 50%;
		border-color: #ccc;
		box-shadow: 2px 2px 4px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		cursor: pointer;
		z-index: 0;
	}

	.tip-content {
		margin-top: 171%;
		left: 209%;
		right: -93%;
		width: 135%;
		height: auto;
		display: none;
		background-color: #010409;
		background-image: linear-gradient(rgba(252, 177, 17, 0.8), rgba(238, 63, 87, 0.6), rgba(230, 0, 126, 0.4));
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
		color: rgb(255 255 255);
		scale: 120%;
		position: absolute;
		font-size: 14px;
		line-height: 150%;
		text-align: left;
		padding: 10px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #ccc;
		transform: translateX(-50%);
		white-space: pre-wrap;
		justify-items: start;
		z-index: 3;
	}

	.tip-icon:hover + .tip-content {
		display: block;
		border: 1px solid;
		border-color: #ccc;
	}

	.tip-icon:hover {
		border: 1px solid;
		border-color: #ccc;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	#Tip {
		top: 203.4%;
		left: 43%;
		width: 12%;
		height: 3%;
		display: flex;
		font-size: 250%;
		scale: 190%;
		color: #00A46D;
		position: fixed;
		border: 1px solid;
		border-color: #ccc;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		justify-content: center;
		z-index: 3;
	}

	.spoiler {
		top: 204%;
		left: 151%;
		width: 77%;
		scale: 300%;
		background-color: #010409;
		background-image: linear-gradient(rgba(252, 177, 17, 0.8), rgba(238, 63, 87, 0.6), rgba(230, 0, 126, 0.4));
		color: rgb(255 255 255);
		position: absolute;
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		justify-content: center;
		text-align: left;
		font-size: 11px;
		font-weight: bold;
		padding: 5px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		cursor: pointer;
		gap: 2px;
		visibility: hidden;
		z-index: 3;
	}

	.spoiler-content {
		margin-bottom: -50%;
		left: 49%;
		margin-top: -25%;
		margin-left: 0%;
		width: 80%;
		color: rgb(255 255 255);
		height: 220%;
		display: none;
		position: absolute;
		padding: 5px;
		border-radius: 20px;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		transform: translate(-50%, -50%);
		animation: fadeIn 0.9s;
		z-index: 3;
	}

	.spoiler:hover {
		border: 1px solid;
		border-color: #00a46d;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	.spoilers-container {
		margin-left: 0%;
		flex-direction: column;
		align-items: baseline;
		justify-items: center;
		justify-content: space-between;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1px;
	}

	.spoilers {
		display: flex;
	}

	#Download {
		margin-top: -1.1%;
		margin-left: -0.6%;
		height: 80%;
		width: 95%;
		padding: 3px;
		scale: 100%;
		position: absolute;
		background-color: #010409;
		background-image: linear-gradient(rgba(252, 177, 17, 0.8), rgba(238, 63, 87, 0.6), rgba(230, 0, 126, 0.4));
		text-align: center;
		font-size: 14px;
		line-height: 186%;
		border: 2px solid;
		border-radius: 20px;
		border-color: #79c0ff;
		box-shadow: 6px 3px 6px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 3;
	}

	@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
	}

	@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}
	}

	.fadeIn {
		animation-name: fadeIn;
		animation-duration: 1.5s;
	}
	
	.fadeOut {
		animation-name: fadeOut;
		animation-duration: 1.5s;
	}

	.tip-icon {
		width: 35px;
		height: auto;
		line-height: 20px;
		background-color: #010409;
		display: inline-block;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		padding: 2.5px;
		border: 1px solid;
		border-radius: 50%;
		border-color: #ccc;
		box-shadow: 2px 2px 4px rgba(255,123,114, 0.9);
		transition: transform 1s, box-shadow 1s;
		cursor: pointer;
		z-index: 0;
	}

	.tip-content_1 {
		top: 76%;
		left: 156%;
		right: -93%;
		width: 50%;
		height: auto;
		background-color: #010409;
		background-image: linear-gradient(rgba(252, 177, 17, 0.8), rgba(238, 63, 87, 0.6), rgba(230, 0, 126, 0.4));
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
		color: rgb(255 255 255);
		display: none;
		scale: 100%;
		position: absolute;
		font-size: 14px;
		line-height: 135%;
		text-align: left;
		padding: 10px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #ccc;
		transform: translateX(-50%);
		white-space: pre-wrap;
		justify-items: start;
		z-index: 10;
	}

	.tip-content_2 {
		top: 52%;
		left: 79%;
		width: 39%;
		height: 28%;
		background-color: #010409;
		background-image: linear-gradient(rgba(252, 177, 17, 0.8), rgba(238, 63, 87, 0.6), rgba(230, 0, 126, 0.4));
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
		color: rgb(255 255 255);
		display: none;
		scale: 70%;
		position: absolute;
		font-size: 14px;
		line-height: 135%;
		text-align: left;
		padding: 10px;
		border: 1px solid;
		border-radius: 10px;
		border-color: #ccc;
		transform: translateX(-50%);
		white-space: pre-wrap;
		justify-items: start;
		z-index: 10;
	}

	.tip-icon:hover + .tip-content {
		display: block;
		border: 1px solid;
		border-color: #ccc;
	}

	.tip-icon:hover {
		border: 1px solid;
		border-color: #ccc;
		box-shadow: -1px -2px 10px 2px rgba(204,204,204, 0.9);
		transition: transform 1s, box-shadow 1s;
	}

	#Tip_1 {
		top: 31%;
		left: 153%;
		display: flex;
		scale: 200%;
		color: #00A46D;
		position: absolute;
		border: 1px solid;
		border-color: #ccc;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		z-index: 3;
	}

	#Tip_2 {
		top: 95.3%;
		left: 96.7%;
		display: flex;
		scale: 200%;
		color: #00A46D;
		position: absolute;
		border: 1px solid;
		border-color: #ccc;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		z-index: 3;
	}
	#Zoo_Radio_IMG {
		margin-top: -33%;
		left: -26.2%;
		width: auto;
		height: auto;
		scale: 42%;
		position: absolute;
		border-radius: 13px;
		z-index: 1;
	}
	
	#Zoo_Radio {
		top: 80%;
		left: 33.1%;
		width: 30%;
		height: auto;
		scale: 176%;
		background-color: transparent;
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
		position: fixed;
		border-radius: 13px;
		padding: 12px;
		border: 3px solid;
		border-radius: 38px;
		border-color: #2b5983;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 1;
	}
	
	#Zoo_Radio:hover {
		background-color: #010409;
		box-shadow: -1px -2px 10px 2px rgba(43,89,131, 0.9);
		transition: transform 0.5s, box-shadow 0.5s;
	}
	
	#Zoo_Radio_Audio {
		margin-top: 25%;
		margin-left: 7%;
		width: 85%;
		scale: 117%;
		background-color: transparent;
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
		position: relative;
		border-radius: 13px;
		padding: 4px;
		border-radius: 38px;
		box-shadow: -1px -2px 10px 2px rgba(255,255,255, 0.9);
		transition: transform 1s, box-shadow 1s;
		z-index: 2;
	}

	/* Modifica il colore di sfondo del player audio */
	audio {
		background-color: #010409; /* Cambia il colore del background */
	}
	
	/* Modifica il colore dei controlli del player audio */
	audio::-webkit-media-controls-panel {
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9)); /* Cambia il colore di sfondo dei controlli */
		color: #FFF; /* Cambia il colore del testo dei controlli */
	}
	
	/* Modifica il colore del pulsante Play/Pausa */
	audio::-webkit-media-controls-play-button {
		background-color: #e6007e;
		border-radius: 38px;
	}
	
	/* Modifica il colore del baricentro di avanzamento */
	audio::-webkit-media-controls-current-time-display {
		color: #010409; /* Cambia il colore del testo del baricentro di avanzamento */
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9));
	}
	
	/* Modifica il colore della barra di avanzamento */
	audio::-webkit-media-controls-timeline {
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9)); /* Cambia il colore della barra di avanzamento */
		border-radius: 38px;
		padding: 5px;
	}
	
	/* Modifica il colore del pulsante del volume */
	audio::-webkit-media-controls-volume-slider {
		background-image: linear-gradient(rgba(230, 0, 126, 0.6), rgba(238, 63, 87, 0.5), rgba(252, 177, 17, 0.9)); /* Cambia il colore del pulsante del volume */
	}
	#geoInfo_1 {
		top: 64%;
		left: 74.3%;
		padding: 0px;
		width: auto;
		height: auto;
		scale: 120%;
		position: absolute;
		opacity: 0;
		transition: opacity 1s, transform 1s, box-shadow 1s;
		visibility: hidden;
		z-index: 1;
	}
	
	#geoInfo_1:hover {
		opacity: 1;
		transition: opacity 1s, transform 1s, box-shadow 1s;
		visibility: hidden;
		z-index: 1;
	}
	
	#geoInfo_2 {
		margin-top: -5%;
		margin-left: -15.1%;
		width: auto;
		height: auto;
		scale: 143%;
		position: absolute;
		transition: transform 1s, box-shadow 1s;
		visibility: hidden;
		z-index: 2;
	}
	
	#geoInfo_3 {
		margin-top: 1%;
		margin-left: 14.3%;
		width: auto;
		height: auto;
		scale: 173%;
		position: absolute;
		transition: transform 1s, box-shadow 1s;
		visibility: hidden;
		z-index: 1;
	}
	
	#geoInfo_4 {
		margin-top: -8%;
		margin-left: 71%;
		width: auto;
		height: auto;
		scale: 105%;
		position: absolute;
		transition: transform 1s, box-shadow 1s;
		visibility: hidden;
		z-index: 1;
	}
	
	#stat {
		top: 97%;
		left: 89%;
		width: auto;
		height: auto;
		scale: 100%;
		position: absolute;
		border-radius: 13px;
		opacity: 0;
		z-index: 1;
	}

#Fascia {
	top: 71%;
    left: 25%;
    scale: 190%;
	width: 48%;
    font-size: 20px;
    background-color: transparent;
    background-image: linear-gradient(rgba(230, 0, 126, 0.9), rgba(1,33,77, 0.9), rgba(252, 177, 17, 0.9));
    position: fixed;
    border: 0px solid;
    border-radius: 46px;
    padding: 16px;
    box-shadow: -1px -2px 10px 2px rgb(255 255 255);
    transition: transform 1s, box-shadow 1s;
    transform: rotate(5deg);
    z-index: 2;
	}
}